* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {

    position: fixed;
    width: 100%;
    overflow: auto;
    margin-top: 60px;

}

.left img {
    float: left;
}



.right {
    margin-right: 30px;
    float: right;
    margin-top: 30px;
}

.right a {
    text-decoration: none;
    color: white;
    margin-left: 50px;
    font-size: 20px;

}
.box{
    padding: 1rem;
    
}

.right .box:hover {
    color: rgb(218, 21, 21);
    border-bottom: 3px solid #fd4766;
    transition: color 0.7s;
}

.box1 {
    padding: 1rem;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.7s;
}

.box1:hover {
    background-color: rgb(156, 77, 77) !important;
    border: 1px solid rgb(156, 77, 77);
    color: white;
}

#Second {
    background:linear-gradient(0deg, rgba(29,29,36,.75), rgba(29,29,36,.75)), url(http://rainbowit.net/themes/imroz/wp-content/uploads/2021/10/bg-image-26.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 30rem 0;
    overflow: auto;
   

}

.scnd{
    width: 30%;
    margin: auto;
}
.scnd h1{
    font-size: 72px;
    background: -webkit-linear-gradient(120deg
    , #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}
.scnd p{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 60px;
    
  
}

.scnd a{
  
    padding: 20px 60px;
    border: 1px solid red;
    background-color:red;
    
    border-radius: 90px;
    text-decoration: none;
    color: white;
    
}
.scnd a:hover{
    padding: 20px 60px;
    color: red;
    border: 1px solid red;
    background-color: transparent;
    border-radius: 90px;
    transition: 0.7s;
}
i{
    margin-left: 1rem;
}

#third{
    padding: 120px;
    
    overflow: auto;
    
}
.thd{
    width: 60%;
    margin: auto;
    overflow: auto;
}
.thd .box{
    float: right;
    margin: 20px 10px;
    width: 30%;
    padding: 40px;
    background-color: rgb(231, 218, 218);
    
 
}
.thd .box:hover{
    background-color: khaki;
}
.box p{
    padding: 20px;
    float: right;
}
